@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 15px 0;

    &__button_menu {
        position: fixed;
        top: 50px;
        left: 50px;
    }

    &__owner_title {
        padding: 20px 30px;
        background: rgba(0,0,0,.17);
        border-radius: 20px;
        border-left: 1px solid white;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
    }

    &__logo {
        width: 154px;
        height: 133px
    }

    &__contact_title {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 0;
        text-align: end;
    }

    &__contact {
        color: #fff;
        transition: color 0.3s;
        font-size: 28px;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: #fab520;
        }
    }

    &__burger {
        position: fixed;
        top: 45px;
        left: 55px;
        z-index: 10;
        width: 70px;
        height: 70px;
        line-height: 40px;
        text-align: center;
        border: none;
        outline: none;
        overflow: hidden;
        background-color: transparent;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px;
        transition: 0.3s;
        cursor: pointer;
        box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 30%);

        &:active {
            background: #fab520;
        }

        &:hover {
            background: #fab520;
        }

        span {
            display: block;
            position: relative;
            width: 12px;
            height: 2px;
            background-color: #2f2c30;
            transition: 0.3s;

            &::before {
                width: 16px;
                top: -6px;
                content: '';
                position: absolute;
                display: block;
                left: 0;
                height: 2px;
                background-color: #2f2c30;
                transition: 0.3s;
            }

            &::after {
                bottom: -6px;
                content: '';
                position: absolute;
                display: block;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: #2f2c30;
                transition: 0.3s;
            }
        }
    }
}

.main {
    height: 100vh;
    margin-top: -163px;

    &__franchise {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: url("https://papa-grill.netlify.app/assets/main.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        grid-template-areas: ". left";
        padding-top: 300px;
    }
}

.franchise {

    &__information {
        grid-area: left;
        width: auto;
        height: auto;
    }

    &__information_leftside {
        max-width: 680px;
        height: 320px;
    }

    &__pretitle {
        text-transform: uppercase;
        font-size: 16px;
        background-image: url("https://papa-grill.netlify.app/assets/main-pretitle-bg.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        line-height: 1.4;
        background-size: contain;
        padding: 10px 40px;
        letter-spacing: 0.7em;
        color: #fff;
        font-weight: 600;
        margin-bottom: 15px;;
    }
}