@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.form {
    width: 100%;

    &__item {
        position: relative;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        width: 80%;
        height: 40px;
        border-radius: 10px;
        padding-left: 15px;
        color: #fab520;
        border: none;
        background: #2f2c30;
        border: 1px solid #fab520;
        outline: none;
        min-width: 330px;
    }

    &__span {
        color: #f5d70e;
        position:absolute;
        left: 55px;
        font-size: 13px;
        top: -10px;
        background-color: #2f2c30;
    }

    &__submit {
        height: 45px;
        width: 80%;
        border-radius: 15px;
        color: #e1af00;
        background: #3b383c;
        border: none;
    }
}

.notify {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 360px;
    height: 150px;
    border-radius: 15px;
    displaY: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: black;
        font-size: 24px;
        margin: 0;
        text-align: center;
    }
}

.modal {

    &__opened {
        overflow: hidden;
    }

    &__bg {
        background: rgba(0,0,0,0.4);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position:fixed;
        top: 0;
        z-index: 11;
    }

    &__contents {
        width: 480px;
        height: auto;
        max-height: 560px;
        padding: 30px 15px;
        border-radius: 15px;
        background: #2f2c30;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: -60px;
        width: auto;
        height: auto;
        cursor: pointer;
        display: block;
    }

    &__heading {
        font-size: 26px;
        text-align: left;
        color: #f5d70e;
        margin-bottom: 25px;
    }

    &__header {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
}

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;

    &__button_menu {
        position: fixed;
        top: 50px;
        left: 50px;
    }

    &__owner_title {
        padding: 20px 30px;
        background: rgba(0, 0, 0, .17);
        border-radius: 20px;
        border-left: 1px solid white;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
    }

    &__logo {
        width: 154px;
        height: 133px
    }

    &__contact_title {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 0;
        text-align: end;
    }

    &__contact {
        color: #fff;
        transition: color 0.3s;
        font-size: 28px;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: #fab520;
        }
    }

    &__burger {
        position: fixed;
        top: 45px;
        left: 55px;
        z-index: 10;
        width: 70px;
        height: 70px;
        line-height: 40px;
        text-align: center;
        border: none;
        outline: none;
        overflow: hidden;
        background-color: transparent;
        background-color: #fff;
        border-radius: 10px;
        padding: 25px;
        transition: 0.3s;
        cursor: pointer;
        box-shadow: 0px 0px 10px 10px rgb(0 0 0 / 30%);

        &:active {
            background: #fab520;
        }

        &:hover {
            background: #fab520;
        }

        &_item {
            display: block;
            position: relative;
            width: 12px;
            height: 2px;
            background-color: #2f2c30;
            transition: 0.3s;

            &::before {
                width: 16px;
                top: -6px;
                content: '';
                position: absolute;
                display: block;
                left: 0;
                height: 2px;
                background-color: #2f2c30;
                transition: 0.3s;
            }

            &::after {
                bottom: -6px;
                content: '';
                position: absolute;
                display: block;
                left: 0;
                width: 20px;
                height: 2px;
                background-color: #2f2c30;
                transition: 0.3s;
            }

            &__active {
                transform: rotateZ(-45deg);
            }
        }
    }
}

.main {
    height: 100vh;
    margin-top: -163px;

    &__franchise {
        display: flex;
        background: url("https://papa-grill.netlify.app/assets/main.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        padding: 0 15px;
        padding-top: 300px;
        background-position: center top;
        min-height: 1040px;
    }

    &__about {
        display: flex;
        background: url("https://papa-grill.netlify.app/assets/about.jpg");
        height: 100%;
        background-size: cover;
        padding: 100px 15px;
        min-height: 1040px;
        background-position: center top;
    }

    &__statistic {
        display: flex;
        padding: 100px 15px;
        background: url("https://papa-grill.netlify.app/assets/statistic.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-color: #232323;
    }

    &__arguments {
        width: 100%;
        background-image: url('https://papa-grill.netlify.app/assets/reasons.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        min-height: 850px;
        padding: 100px 15px;
        background-color: #232323;
    }

    &__rules {
        background-image: url("https://papa-grill.netlify.app/assets/rules.jpg");
        background-size: cover;
        padding: 100px 15px;
        background-position: center top;
        background-repeat: no-repeat;
    }
}

.franchise {

    &__information {
        display: flex;
        justify-content: flex-end;
        width: 1180px;
        margin: 0 auto;
        height: auto;
    }

    &__information_leftside {
        max-width: 680px;
    }

    &__pretitle {
        text-transform: uppercase;
        font-size: 16px;
        background-image: url("https://papa-grill.netlify.app/assets/main-pretitle-bg.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        line-height: 1.4;
        background-size: contain;
        padding: 10px 40px;
        letter-spacing: 0.7em;
        color: #fff;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__title {
        text-transform: uppercase;
        font-size: 80px;
        font-weight: bolder;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        letter-spacing: 0.05em;
        line-height: 1;
        margin-bottom: 35px;
    }

    &__selected {
        color: #fab520
    }

    &__subtitle {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.7);
        letter-spacing: 0.05em;
        line-height: 1.5;
        margin-bottom: 60px;

        &__selected {
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            text-decoration: underline;
        }
    }

    &__button {
        padding: 20px 50px;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0.5em;
        border: none;
        outline: none;
        letter-spacing: 2px;
        color: #6c5d24;
        background: linear-gradient(to top, #e1af00 0%, #f5d70e 100%);
        animation-name: pulse;
        animation-duration: 1s;
        // animation-delay: .7s;
        animation-iteration-count: infinite;
    }
}

.about {
    &__information {
        max-width: 520px;
    }

    &__information_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 1180px;
        margin: 0 auto;
    }

    &__title {
        font-size: 80px;
        text-transform: uppercase;
        padding: 60px 0;
        font-weight: 700;
        font-family: "Rubik", sans-serif;
        letter-spacing: 0.05em;
        line-height: 1.2;
    }

    &__social {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__youtube {
        width: auto;
        height: auto;
        background: rgba(255, 255, 255, 0.7);
        padding: 15px;
        border-radius: 10px;

        &_title {
            font-size: 16px;
            color: black;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "Rubik", sans-serif;
            margin: 0;

            span {
                color: red;
            }
        }

        &_subtitle {
            font-size: 14px;
            margin: 0;
            font-family: "Rubik", sans-serif;
            font-weight: 100;
        }
    }

    &__link {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: rgb(250, 181, 32);
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: triplePulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;


        img {
            width: 25px;
            height: 25px;
        }
    }

    &__article {
        margin-bottom: 40px;

        p {
            color: rgb(51, 51, 51);
            letter-spacing: 0.64px;
            line-height: 24px;
            margin: 0 0 20px 0;
            font-size: 16px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.statistic {

    &__information {
        display: flex;
        flex-direction: column;
        width: 1180px;
        margin: 0 auto;
    }

    &__block_pretitle {
        display: flex;
        justify-content: flex-start;
    }

    &__pretitle {
        color: #eee;
        letter-spacing: 2px;
        font-size: 60px;
        font-weight: 600; 
        text-transform: uppercase;

        span {
            color: #fab520;
        }
    }

    &__block_numbers {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto 40px auto;
    }

    &__numbers {
        font-size: 122px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    &__food {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        color: #fff;
        text-align: start;

        span {
            color: #fab520;
        }
    }

    &__burger_container {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__menu_wrapper {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }

    &__menu {
        padding: 5px;
        background-color: #2f2c30;
        display: flex;
        align-items: center;
        width: 210px;
        justify-content: space-between;
        border-radius: 35px;
        cursor: pointer;
        text-decoration: none;

        &_paragraph {
            font-size: 12px;
            max-width: 110px;
            user-select: none;
            cursor: pointer;
            color: #fff;
            margin-bottom: 0;
            
            span {
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    &__download {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        background-color: #3b383c;

        img {
            width: 35px;
            height: 35px;
        }
    }
}

.arguments {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    &__title {
        color: #fff;
        margin-bottom: 20px;
        font-size: 72px;
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;

        span {
            color: #fab520
        }
    }

    &__text {
        max-width: 50%;
        width: calc(50% - 20px);
    }

    &__paragraph {
        font-size: 20px;
        line-height: 1.5;
        color: white;
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
    }

    &__item {
        min-height: 260px;
        padding: 40px 20px;
        border: 10px solid #252525;
        width: calc(25% - 30px);
        position: relative;
        border-radius: 10px;
        background: #3b383c;
        margin-bottom: 20px;

        &_title {
            font-size: 20px;
            font-weight: 700;
            color: #fff;

            span {
                color: #fab520;
            }
        }

        &_count {
            position: absolute;
            top: 20px;
            right: 20px;
            color: rgba(255, 255, 255, 0.17);
            font-weight: 700;
        }

        &_paragraph {
            color: white;
        }
    }
}

.rules {
    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 1180px;
        margin: 0 auto;
    }

    &__title {
        font-size: 72px;
        font-weight: 700;
        color: #333;
        font-family: 'Rubik', sans-serif;
        text-transform: uppercase;
        margin-bottom: 20px;

        span {
            color: #fab520;
        }
    }

    &__paragraph {
        font-size: 18px;
        margin-bottom: 20px;
        color: #333;
        line-height: 2;
        max-width: 580px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

footer {
    background: #3b383c;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;

    h3 {
        margin: 0;
    }
}

.menubar {
    width: 0;
    height: 100vh;
    background: #3b383c;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 9;

    a {
        text-decoration: none;
        color: white;
        margin: 15px 0;
    }

    &__active {
        display: flex;
        flex-direction: column;
        padding: 180px 55px 0px 55px;
        width: 400px;
    }
}

.image {
    &__burger {
        position: absolute;
        bottom: -220px;
        left: 120px;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 5px #f5d70e;
    }

    100% {
        box-shadow: 0px 0px 0px 20px rgba(245, 215, 14, 0);
    }
}

@keyframes triplePulse {
    0% {
        box-shadow: 0px 0px 0px -60px rgba(110, 110, 110, .17), 
                    0px 0px 0px -30px rgba(110, 110, 110, .17), 
                    0px 0px 0px 0px rgba(110, 110, 110, .17);
    }

    50% {
        box-shadow: 0px 0px 0px 30px rgba(110, 110, 110, .17), 
                    0px 0px 0px 60px rgba(110, 110, 110, .17), 
                    0px 0px 0px 90px rgba(110, 110, 110, .17);
    }

    100% {
        box-shadow: 0px 0px 0px -60px rgba(110, 110, 110, .17), 
                    0px 0px 0px -30px rgba(110, 110, 110, .17), 
                    0px 0px 0px 0px rgba(110, 110, 110, .17); 
    }
}

@media screen and (max-width: 1024px) {

    .image {
        &__burger {
            display: none;
        }
    }

    .rules__img {
        display: block;
    }

    .main {
        &__about {
            background-position: unset;
        }
    }

    .header {
        &__owner_title {
            display: none;
        }

        &__burger {
            display: none;
        }
    }

    .franchise {

    }

    .arguments {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 15px;
        width: 100%;

        &__item {
            width: calc(33% - 20px);
            min-width: 265px;
        }

        &__title {
            font-size: 32px;
        }

        &__text {
            width: 100%;
            max-width: unset;
            text-align: center;
        }
    }

    .about {
        &__information {

            &_wrapper {
                padding: 0 15px;
            }
        }
    }

    .statistic {
        &__numbers {
            font-size: 72px;
        }

        &__pretitle {
            font-size: 44px;
        }

        &__food {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 865px) {
    .rules__img {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .modal {
        &__bg {
            justify-content: flex-end;
            align-items: flex-end;
        }

        &__contents {
            width: 100%;
        }

        &__close {
            top: -50px;
            right: 15px;
            width: 25px;
            height: 25px;
        }
    }

    .franchise {
        &__title {
            font-size: 44px;
        }
    }

    .header {
        &__contact {
            font-size: 22px;
        }

        &__logo {
            width: 100px;
        }
    }

    .about {
        &__title {
            font-size: 44px;
        }
    }

    .statistic {

        &__pretitle {
            font-size: 18px;
        }

        &__numbers {
            font-size: 44px;
        }
    }

    .rules {

        &__title {
            font-size: 44px;
        }
    }
}